.check-box-list
    display: flex
    justify-content: center

    .radio-container
        margin-right: 17px

    .show-label
        padding-right: 12px

.search-form
    display: flex
    justify-content: center
    align-items: center

.twitter-graph
    margin: 32px 15%
    border: solid rgba(0,0,0,0.1) 1px