.check-box-list
    display: flex
    justify-content: center

    .radio-container
        margin-right: 17px

    .show-label
        padding-right: 12px

.search-form
    display: flex
    justify-content: center
    align-items: center

.twitter-container
    display: flex
    margin: 32px 32px

.timeline
    width: 30%

.chart
    width: 100% !important
    height: 80vh !important
    margin: 0 auto

.twitter-graph
    width: 60%
    border: solid rgba(0,0,0,0.1) 1px

.button-column
    width: 10%
    padding: 5px 3px
    text-align: center
    display: flex
    flex-direction: column
    align-items: center

    .btn
        max-width: 50px
        margin-bottom: 7px


