.postLayout
    padding-top: 7px
    background-color: #eeeeee
    display: grid
    grid-template-columns: 25% 50% 25%
    grid-template-rows: auto
    min-height: calc(100vh - 64px)

.vote-status
    height: 5px
    background-color: #009688

.container
    height: 150px
    overflow: hidden