@import '../../styles/variables.sass'

.landing-container
    padding: 40px 0px 40px 0px
    .divider
        margin: 80px 0px 0px 0px
    .header
        .left-section
            display: flex
            flex-direction: column
            justify-content: center
            text-align: left
        .right-section
            display: flex
            flex-direction: column
            justify-content: center
            .header-img
                width: 100%
    .about
        margin: 80px 0px 0px 0px
        .about-block
            margin: 50px 5px 0px 5px
            label
                background-color: $primary_color
                width: 22px
                height: 22px
                border-radius: 44px
                color: #ffffff
                text-align: center
                margin-right: 10px
                font-size: 14px
            h3
                margin: 10px 0px 0px 0px 
            p
                margin: 10px 0px 0px 0px 
    .recent-posts
        margin: 80px 0px 0px 0px