@import '../../styles/variables.sass'

.vote-buttons-container
  opacity: 0
  transition: 0.2s ease
  position: absolute
  top: 0
  right: -70px
  .buttons
    // true
    .trueBtn
      display: flex
      .trueIcon
        color: $grey
      .trueLbl
        opacity: 0
    .trueBtn:hover
      .trueIcon
        color: $true-color
      .trueLbl
        color: $true-color
        opacity: 1
    // fake
    .fakeBtn
      display: flex
      .fakeIcon
        color: $grey
      .fakeLbl
        opacity: 0
    .fakeBtn:hover
      .fakeIcon
        color: $fake-color
      .fakeLbl
        color: $fake-color
        opacity: 1
    // mix
    .mixBtn
      display: flex
      .mixIcon
        color: $grey
      .mixLbl
        opacity: 0
    .mixBtn:hover
      .mixIcon
        color: $mix-color
      .mixLbl
        color: $mix-color
        opacity: 1
      
  .vote_count
    margin-top: 10px
    color: $dark-grey
    font-size: 14px